---
layout: default
---

<h1>Teaching materials</h1>

<nav>
    <ul>
        <li>Behavioral & Cognitive Neuroscience
            <ul>
                <li><a href="{{site.baseurl}}/didactics/bcn_2019-2020">2019/2020 (current)</a></li>
                <li><a href="{{site.baseurl}}/didactics/bcn_2018-2019">2018/2019</a></li>
            </ul>
        </li>
        <li> Human Computer Interaction
            <ul>
                <li><a href="https://github.com/mikbuch/hci">Part 1 -- Web development</a></li>
                <li><a href="https://github.com/ratajczykd/hci">Part 2 -- Signal processing</a></li>
            </ul>
        </li>
        <li><a href="{{site.baseurl}}/didactics/ica">Independent Component Analysis</a></li>
    </ul>
</nav>

{{content}}